@page "/"
@page "/index.html"
@using MudBlazor

<PageTitle>Baivel - Home</PageTitle>

<div id="home-background">
	<MudItem Class="title-home-page">
		<MudText Typo="Typo.h1" Color="Color.Secondary"> Alexandra<br />Baivel</MudText>
		<MudText Typo="Typo.h3" Color="Color.Secondary"> Développeuse logiciel</MudText>
		<MudItem Class="home-buttons">
			<MudButton Color="Color.Secondary" Variant="Variant.Filled" Href="#aboutme">À propos de moi</MudButton>
			<MudButton Color="Color.Secondary" Variant="Variant.Filled" Href="https://www.baivel.com/resume/Resume_Alexandra_Baivel.pdf" target="_blank">Mon CV</MudButton>
			<MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Secondary" aria-label="github" Href="https://github.com/abaivel" target="_blank" />
			<MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Secondary" aria-label="linkedin" Href="https://www.linkedin.com/in/alexandra-baivel" target="_blank" />
			<MudIconButton Icon="@Icons.Material.Filled.Mail" Color="Color.Secondary" aria-label="main" Href="mailto:abaivel@outlook.fr" target="_blank" />
		</MudItem>
	</MudItem>
	<MudIcon Class="home-page-icon-down-arrow" Color="Color.Secondary" Size="Size.Large" Icon="@Icons.Material.Filled.KeyboardArrowDown" onclick="location.href='#aboutme'"></MudIcon>
</div>
<MudItem Class="">
	<MudItem Class="about-me-part d-flex justify-space-between flex-wrap">
		<MudItem id="aboutme-image">
			<MudImage Fluid="true" Src="images/CodePeople.jpeg" ObjectFit="ObjectFit.Cover" Alt="Picture of a girl programming (not me)"/>
		</MudItem>
		<MudItem id="aboutme">
			<MudText Class="pb-5 pt-5" Typo="Typo.h3" Color="Color.Primary">À propos de moi</MudText>
			<MudText Align="Align.Justify" Color="Color.Primary">
				Je suis Alexandra Baivel, une étudiante en troisième année d'école d'ingénieur en informatique à CY Tech. 
				Je finirai mes études en septembre 2026 donc je cherche un CDI dans le domaine du développement logiciel.
				<br /><br />
				@*Since I did my first program in Python 6 years ago, I've learned multiple programming languages such as Java (Android and Jakarta EE), Kotlin, C, C#, HTML, CSS, Javascript, PHP.
				I've also worked with multiples frameworks like React, Django, Blazor, ASP.NET Core and Entity Framework.*@
			</MudText>
			<MudText Align="Align.Justify" Color="Color.Primary">Les langages de programmation et les frameworks avec lesquels j'ai travaillé :</MudText>
			@foreach (string tech in LanguagesAndFrameworks){
				<MudChip Variant="Variant.Outlined" T="string" Color="Color.Primary">@tech</MudChip>
			}
			<MudText Align="Align.Justify" Color="Color.Primary"><br />Les outils avec lesquels j'ai travaillé :</MudText>
			@foreach (string tech in Tools)
			{
				<MudChip Variant="Variant.Outlined" T="string" Color="Color.Primary">@tech</MudChip>
			}
			<MudText Align="Align.Justify" Color="Color.Primary">
				<br />Pour en apprendre plus sur mes projets et sur mes expériences professionnelles :
			</MudText>
			<MudButton Color="Color.Primary" Variant="Variant.Filled" Class="button-classic" Href="projects">Mes projets</MudButton>
			<MudButton Color="Color.Primary" Variant="Variant.Filled" Class="button-classic" Href="work">Mes expériences professionnelles</MudButton>
			<br/>
		</MudItem>
	</MudItem>
</MudItem>

<script>
		window.registerViewportChangeCallback = (dotnetHelper) => {
		window.addEventListener('resize', () => {
			//dotnetHelper.invokeMethodAsync('OnResize', isDevice());
			generateAnimationHome();
		});
	}
</script>

