@page "/projects"
@using MudBlazor
@using Portfolio.Models
@using Portfolio.Services
@inject IDialogService DialogService

<PageTitle>Baivel - Projects</PageTitle>

<div class="background-page">
	<div class="filter-background-page">
		<MudItem Class="div-title-page">
                <MudText Typo="Typo.h3" Color="Color.Secondary" Align="Align.Center">Projects</MudText>
            </MudItem>
		<div class="white-frame pa-3">
			<MudItem class="mb-5">
				<MudTextField Class="searchbar-projects" Immediate="true" Value="@ValueSearched" ValueChanged="@((string v) => ValueSearchedChanged(v))" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" HelperText="Enter a project name or a programming language" Variant="Variant.Outlined"></MudTextField>
			</MudItem>
			<MudStack Row="true" Justify="Justify.SpaceEvenly" Wrap="Wrap.Wrap">
					@foreach (var t in ListProjectsSearched){
						<MudItem onclick="@(()=>OpenProject(t))">
						<ProjectContainer Project="t"></ProjectContainer>
						</MudItem>
					}
			</MudStack>
			<MudText class="mt-6 mb-4" Align="Align.Center">This is just the beginning — more projects coming soon!</MudText>
		</div>
		<br />
	</div>
</div>

<MudDialog @bind-Visible="@projectOpen" Options="new() {CloseButton = true, MaxWidth = MaxWidth.Large }" Class="dialog-project">
	<DialogContent>
		<PanelProject Project="@ProjectSelected"></PanelProject>
	</DialogContent>
</MudDialog>



