@page "/projects"
@using MudBlazor
@using Portfolio.Models
@using Portfolio.Services
@inject IDialogService DialogService

<PageTitle>Baivel - Projects</PageTitle>

<div style="width:100%;background-image:url('images/background_page.jpg');" id="fond">
	<div style="background-color: #0a006899;height: 100%;">
            <MudItem Style="padding-top:36px;padding-bottom: 36px;">
                <MudText Typo="Typo.h3" Style="font-family:'Cascadia Code'" Color="Color.Secondary" Align="Align.Center">Projects</MudText>
            </MudItem>
		<div class="white-frame" style="padding:10px;">
			<MudItem Style="margin-bottom: 20px;">
				<MudTextField Immediate="true" Value="@ValueSearched" ValueChanged="@((string v) => ValueSearchedChanged(v))" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Label="Enter a project name or a programming language" Variant="Variant.Outlined" Style="width:30%"></MudTextField>
			</MudItem>
			<MudStack Row="true" Justify="Justify.SpaceBetween" Wrap="Wrap.Wrap">
					@foreach (var t in ListProjectsSearched){
						<MudItem onclick="@(()=>OpenProject(t))">
						<ProjectContainer Project="t"></ProjectContainer>
						</MudItem>
					}
			</MudStack>
			</div>
			<br />
		@*<MudOverlay Style="height:100vh;width:100vh" @bind-Visible="@projectOpen" DarkBackground AutoClose="true" OnClosed="CloseProject">
			<PanelProject Project="@ProjectSelected"></PanelProject>
		</MudOverlay>*@
		</div>
</div>

<MudDialog @bind-Visible="@projectOpen" Options="new() {CloseButton = true, MaxWidth = MaxWidth.Large }">
	<DialogContent>
		<PanelProject Project="@ProjectSelected"></PanelProject>
	</DialogContent>
</MudDialog>



